.limoCabin {
  --seat-width: 70px;
  --seat-height: 50px;
  --col-gap: 16px;
  --row-gap: 12px;
  --aisle-width: 32px;

  display: flex;
  flex-direction: column;

  gap: var(--row-gap);

  width: max-content;
  height: auto;

  box-sizing: border-box;
}

.limoRow {
  display: grid;

  grid-template-columns: repeat(6, var(--seat-width));

  gap: var(--col-gap);

  align-items: center;
}
.aisleLane {
  grid-column: 2 / 7;

  height: var(--seat-height);

  background: #e2e8f0;

  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .limoCabin {
    --seat-width: 44px;
    --seat-height: 38px;
    --col-gap: 12px;
    --row-gap: 8px;

    display: flex;
    flex-direction: row !important;

    width: 100%;
    height: auto;

    justify-content: center;
    align-items: flex-start;

    gap: var(--col-gap);
  }

  .limoRow {
    /*
     * Mỗi row desktop trở thành một column trên mobile
     */
    display: flex;

    flex-direction: column !important;

    width: var(--seat-width);

    gap: var(--row-gap);

    align-items: center;
    justify-content: flex-start;
  }

@media (max-width: 600px) {
  .aisleLane {
    width: calc(
      (var(--seat-width) * 5) 
    );


    flex-shrink: 0;

    background: #e2e8f0;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 9px;
    text-align: center;

    writing-mode: horizontal-tb;

    transform-origin: center center;
    transform:translateY(90px) rotate(90deg);
  }
}
}

.frontWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .frontWrapper {
    margin-top: 5px;
  }
}
